<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.8.1" targetFramework="net471" />
  <package id="OOBehave" version="0.1.36-Beta" targetFramework="net471" />
  <package id="OOBehave.Autofac" version="0.1.4-Beta" targetFramework="net471" />
  <package id="System.ComponentModel.Annotations" version="4.5.0" targetFramework="net471" />
</packages>